
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <form name="chooseSeat" asp-controller="Seating" asp-action="ProcessSeatChoice" method="POST">
        <div class="tables">
            <table border="0" class="tbl">
                <tbody>
                    <tr>
                        <td><input type="submit" value="seat01" name="submit" id="1" class="btn" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat02" name="submit" id="2" class="btn" /></td>
                    </tr>
                    <tr>
                        <th><h3></h3></th>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat03" name="submit" id="3" class="btn" /></td>
                    </tr>
                </tbody>
            </table>
            <table border="0" class="tbl">
                <tbody>
                    <tr>
                        <td><input type="submit" value="seat04" name="submit" id="4" class="btn" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat05" name="submit" id="5" class="btn" /></td>
                    </tr>
                    <tr>
                        <th><h3></h3></th>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat06" name="submit" id="6" class="btn" /></td>
                    </tr>
                </tbody>
            </table>
            <table border="0" class="tbl">
                <tbody>
                    <tr>
                        <td><input type="submit" value="seat07" name="submit" id="7" class="btn" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat08" name="submit" id="8" class="btn" /></td>
                    </tr>
                    <tr>
                        <th><h3></h3></th>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat09" name="submit" id="9" class="btn" /></td>
                    </tr>
                </tbody>
            </table>
            <table border="0" class="tbl">
                <tbody>
                    <tr>
                        <td><input type="submit" value="seat10" name="submit" id="10" class="btn" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat11" name="submit" id="11" class="btn" /></td>
                    </tr>
                    <tr>
                        <th><h3></h3></th>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat12" name="submit" id="12" class="btn" /></td>
                    </tr>
                </tbody>
            </table>
            <table border="0" class="tbl">
                <tbody>
                    <tr>
                        <td><input type="submit" value="seat13" name="submit" id="13" class="btn" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat14" name="submit" id="14" class="btn" /></td>
                    </tr>
                    <tr>
                        <th><h3></h3></th>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat15" name="submit" id="15" class="btn" /></td>
                    </tr>
                </tbody>
            </table>
            <table border="0" class="tbl">
                <tbody>
                    <tr>
                        <td><input type="submit" value="seat16" name="submit" id="16" class="btn" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat17" name="submit" id="17" class="btn" /></td>
                    </tr>
                    <tr>
                        <th><h3></h3></th>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat18" name="submit" id="18" class="btn" /></td>
                    </tr>
                </tbody>
            </table>
            <table border="0" class="tbl">
                <tbody>
                    <tr>
                        <td><input type="submit" value="seat19" name="submit" id="19" class="btn" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat20" name="submit" id="20" class="btn" /></td>
                    </tr>
                    <tr>
                        <th><h3></h3></th>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat21" name="submit" id="21" class="btn" /></td>
                    </tr>
                </tbody>
            </table>
            <table border="0" class="tbl">
                <tbody>
                    <tr>
                        <td><input type="submit" value="seat22" name="submit" id="22" class="btn" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat23" name="submit" id="23" class="btn" /></td>
                    </tr>
                    <tr>
                        <th><h3></h3></th>
                    </tr>
                    <tr>
                        <td><input type="submit" value="seat24" name="submit" id="24" class="btn" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
